@media only screen and (max-width: 600px) {
  table {
    border: 2px solid coral;
  }
}
@media only screen and (min-width: 768px) {
  table {
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
  }
}
@media only screen and (min-width: 992px) {
  table {
    background-color: rgb(201, 132, 214);
    background-image: none;
    color: cornsilk;
    font-style: italic;
  }
}
